@font-face {
  font-family: 'Fira Medium';
  src: url('../assets/fonts/subset-FiraMono-Medium.woff2') format('woff2'),
    url('../assets/fonts/subset-FiraMono-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VT323';
  src: url('../assets/fonts/subset-VT323-Regular.woff2') format('woff2'),
    url('../assets/fonts/subset-VT323-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Regular';
  src: url('../assets/fonts/subset-FiraMono-Regular.woff2') format('woff2'),
    url('../assets/fonts/subset-FiraMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik Medium';
  src: url('../assets/fonts/Rubik-Medium.woff2') format('woff2'),
    url('../assets/fonts/Rubik-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik Bold';
  src: url('../assets/fonts/Rubik-Bold.woff2') format('woff2'), url('../assets/fonts/Rubik-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik Regular';
  src: url('../assets/fonts/Rubik-Regular.woff2') format('woff2'),
    url('../assets/fonts/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
