// @include full-flex
@mixin full-flex($dir: column) {
  display: flex;
  flex-direction: $dir;
  position: relative;
  width: 100%;
}

@mixin container {
  // max-width: 50rem;
  margin-right: auto;
  margin-left: auto;
  padding-left: $gutter;
  padding-right: $gutter;
}
